ul.navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li.navbar-margin {
    margin-right: 10px;
}


/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
} 

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: blue;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
}

.logo-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    display: flex;
    z-index: 3;
    height: 44px;
    border: 1px solid #dfe1e5;
    background: #ffff;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: calc(632px + 6px);
    max-width: 584px;
    margin-top: 20px;
}

.button input {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.h1-advanced {
    color: black;
    font-size: 25px;
    margin: 25px 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.h2-advanced {
    font-size: 16px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-left: 20px;
}

.row-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left {
    width: 200px;
}

.right input {
    width: 385px;
}

.advanced-button {
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 50px; 
    padding: 8px 16px; 
    font-size: 12px; 
    cursor: pointer; 
    display: flex;
    justify-content: flex-end;
}

.button-div {
    display: flex;
    justify-content: flex-end;
    width: 600px;
    margin-top: 10px;
}